@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none !important;
    text-decoration: none !important;
}

.container-1 {
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.h-1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
}

.par {
    max-width: 710px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #515151;
}

.boder {
    background: #FFFFFF;
    border-radius: 39px 0px 0px 0px;
}

.boder-2 {
    background: #FFFFFF;
    border-radius: 0px 39px 0px 0px;
}

.bg-clor {
    background: #F1F3F6;
}

.head {
    max-width: 422px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #000000;

}

.h-2 {
    max-width: 247px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.par-2 {
    max-width: 466px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #515151;
}

.bg-img {
    background-image: url(/assets/img/png/bg-7.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-white {
    background-color: #FFFFFF;
}

.pos-absolute {
    position: absolute;
}

.h-n1 {
    width: 118px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    color: #FFFFFF;
}

.par-3 {
    width: 222px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.h-3 {
    max-width: 797px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    color: #000000;
}



.btn-1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    background-color: black;
    padding: 13px 36px;
    border-radius: 27px;
}

.bg-black {
    background-color: black;
}

.btn-1:hover {
    background-color: white;
    color: black;
    border: 2px black solid;
    cursor: pointer;
}

.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    color: #FFFFFF;
}

.line {
    max-width: 1316px;
    border: 0.5px solid #FFFFFF;
}

.hover:hover {
    cursor: pointer;
}

@media(min-width:1200px) {
    .trasform {
        transform: translatey(-210px);
    }
}